html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Track Location"

        //- link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
        //- link(rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css")
        
        link(rel="stylesheet" href="../plugin/leaflet/leaflet.css")
        link(rel="stylesheet" href="../plugin/routing_machine/routine_machine.css")

        style.
            * {
                margin: 0;
                padding: 0;
            }

            #driverMap {
                height: 100vh;
                width: 100%;
            }

            #directions {
                position: absolute;
                width: 30%;
                max-height: 50%;
                right: 20px;
                top: 20px;
                overflow-y: auto; /* Show a scrollbar if needed */
                background: rgb(194, 29, 29);
                font-family: Arial, Helvetica, Verdana;
                line-height: 1.5;
                font-size: 14px;
                padding: 10px;
            }        
    body 

        div#driverMap

        script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
        script(src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js")
        script(src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous")
        script(src="./../js/driverSocketController.js") 
        script.
            const BUS_ID = "#{bus}";