extends headers/base

//- block title
//-     | About Us

block content
    //- link(rel='stylesheet', href='/style/about.css')
    .about-us
        h1 About Our Company
        p Welcome to our bus reservation service. We are dedicated to providing the best travel experience for our customers.
        p Our mission is to make bus travel easy, affordable, and reliable for everyone.
