extends ./headers/base.pug

block content
    style.
        body{
            overflow: hidden;
        }
        .wrong-password-hide, .already-used-number-hide, .number-limit-hide{
            display: none;
        }

        .wrong-password-show, .already-used-number-show, .number-limit-show{
            display: block;
        }   
    <section class="vh-100" style="background-color: #309AA8; position: absolute; top: 1px; width: 100%;">
        <div class="container py-3 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="./images/bus_login.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:100%;" />
                            </div>
                            
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Swift Bus</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up your account</h5>

                                    <form>
                                        <div data-mdb-input-init class="form-outline mb-3">
                                            <label class="form-label" for="username">Username</label>
                                            <input type="text" id="username" class="form-control form-control-lg" required/>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="contact-number">Phone Number</label>
                                            <input type="number" id="contact-number" class="form-control form-control-lg" required/>
                                            div
                                                span.text-danger.number-limit-hide Number Should be 10 Digits
                                                span.text-danger.already-used-number-hide Number Already Used

                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="password">Password</label>
                                            <input type="password" id="password" class="form-control form-control-lg" required/>
                                            span.text-danger.wrong-password-hide Password Does Not Matched
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-2">
                                            <label class="form-label" for="password-confirm">Password Confirm</label>
                                            <input type="password" id="password-confirm" class="form-control form-control-lg" required/>
                                            span.text-danger.wrong-password-hide Password Does Not Matched
                                        </div>                                        

                                        <div class="pt-1 mb-2">
                                            <button onclick="register()" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" style="background: #309AA8; border: none;" type="button">Register</button>
                                        </div>
                                    </form>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/login"
                                        | style="color: #393f81;">Login here</a></p>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    script(src="./js/register.js") 