extends ./headers/base

block content
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    button#getLocationBtn(style="position: absolute; top: 20px; left: 20px; z-index: 1000; padding: 10px 20px; background-color: #28a745; color: white; border: none; border-radius: 4px;")
        | Get Location

        
    <div id="map" style="height: 100vh; width: 100vw;"></div>

    script(src="../js/socketController.js") 



