extends adminbase

//- script(src="./js/jquery-latest.js")
//- script(src="./js/forall.js")
block contentDash

    style.
        .clear-the-database{
            border: none;
            padding: .5rem;
            background: red;
            color: white;
        }

        table{
            width: 25%;
        }

        @media (max-width: 430px){
            table{
                width: 80%;
            }   
        }

    .content
        // Sale & Revenue Start
        .container-fluid.pt-4.px-4
            .d-flex.justify-content-center.align-items-center.flex-column 
                p please note that when clicking the button it will clear all the item of the Database.
                table
                    thead
                        tr
                            th S.N
                            th Model
                            th Length
                    tbody
                        each data, i in datas
                            tr
                                td= i + 1
                                td= data.model
                                td= data.length

                button.clear-the-database#clear-database Clear Database

    script(src="../js/jquery-latest.js")
    script(src="../js/forall.js")
    