extends ../headers/base

block content
    style.
        .custom-border{
            border: 1px solid #afafaf;
        }

        .custom-width{
            width: 16.5vw;
            box-shadow: 3px 2px #afafaf;
        }

        @media screen and (max-width: 768px){
            .custom-width{
                width: 100%;
            }
        }



    .container.my-4
        div.d-flex.flex-column.flex-md-row.grid.gap-2.flex-wrap
            div.custom-width.d-flex.grid.gap-3.custom-border.p-2.rounded.align-items-center
                div.bg-success.rounded.p-4
                    img(src="../../images/icons/seat.svg", alt="")
                div
                    h5.text-success.fs-4 Total Booked
                    h5.text-secondary= totalBookedSeat

            div.custom-width.d-flex.grid.gap-3.custom-border.p-2.rounded.align-items-center
                div.bg-success.rounded.p-4
                    img(src="../../images/icons/rupee.svg", alt="")
                div
                    h5.text-success.fs-4 Total Income
                    h5.text-secondary= totalIncomeGenerated

            div.custom-width.d-flex.grid.gap-3.custom-border.p-2.rounded.align-items-center
                div.bg-success.rounded.p-4
                    img(src="../../images/icons/company.svg", alt="")
                div
                    h5.text-success.fs-4 Total Company
                    h5.text-secondary= totalCompany   

            div.custom-width.d-flex.grid.gap-3.custom-border.p-2.rounded.align-items-center
                div.bg-success.rounded.p-4
                    img(src="../../images/icons/bus.svg", alt="")
                div
                    h5.text-success.fs-4 Total Buses
                    h5.text-secondary= busesLength

        <div class="container mt-5">
            <form class="mb-3" id="image-form">
                <div class="mb-3">
                    <label for="image-input" class="form-label">Choose an image to upload</label>
                    <input class="form-control" onchange="onImageUpload()" type="file" id="image-input" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Uploaded Image</h5>
                    <img id="image-display" class="img-fluid" alt="Uploaded Image">
                </div>
            </div>
        </div>

        script.
            async function onImageUpload(){
                const image = $("#image-input")[0].files[0];
                if (image) {
                    const imageUrl = URL.createObjectURL(image);
                    $("#image-display").attr("src", imageUrl).show();
                }
            }

            $(document).ready(function(){
                $("#image-input").on("change", onImageUpload);
            });
