extends ../headers/base

block content
    <section class="hero-container">
        <div class="container">
            <div class="row">
                <div class="sologon-and-input-tag" >
                    <div class="d-none d-md-block">
                        <h1 class="poppins-black text-white">Seamless Travel</h1>
                        <h1 class="poppins-semibold text-white"> Reserve Your Seat, Enjoy the Ride! </h1>
                    </div>
                    <form class="d-flex flex-column flex-md-row flex-lg-row grid gap-2 p-3 px-4 rounded bg-white">
                        <div>
                            <input id="from-location" class="rounded px-3 py-1" type="text" name="" value="laxmimarga" placeholder="Location" required>
                        </div>
                        <div>
                            <input id="to-location" class="rounded px-3 py-1" type="text" name="" value="khorsane" placeholder="Destionation" required>
                        </div>
                        <div>
                            <input id="travel-date" class="rounded px-3 py-1" type="date" name="" value="2024-04-10" placeholder="" required>
                        </div>
                        <div>
                            <button id="search-button" class="bg-primary text-white rounded py-1 px-4">Submit</button>
                            //- <a href="/search">
                            //- </a>
                        </div>
                    </form>
                </div>
            </div>

            style.
                .custom-border{
                    border: 1px solid #afafaf;
                }
                .custom-width{
                    width: 30%;
                    box-shadow: 4px 3px #afafaf;
                }

                @media screen and (max-width: 768px){
                    .custom-width{
                        width: 100%;
                    }
                }

            div.my-5.d-flex.flex-column.flex-md-row.grid.gap-3.flex-wrap
                each feature in [{title: "Easy Booking", image: "bus"}, {title: "Comfortable Seat", image: "seat"}, {title: "Pocket Friendly", image: "rupee"}, {title: "Comfortable Seat", image: "comfirt"}, {title: "Affortable Price", image: "wallet"}, {title: "Exact Time", image: "time"}]
                    div.custom-width.d-flex.grid.gap-3.custom-border.py-4.px-3.rounded.align-items-center
                        div.bg-success.rounded.p-4
                            img(src=`../../images/icons/${feature.image}.svg`, alt="")
                        div
                            h5.text-success.fs-4= feature.title
                            h6.text-secondary Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint possimus voluptas enim magni voluptate eaque debitis sequi accusantium modi.



        </div>
    </section>

    <section class="bg-light py-3 py-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 display-5 text-black text-center">Contact</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-12 col-lg-9">
                    <div class="bg-white border rounded shadow-sm overflow-hidden">
                        <form>
                            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                            <div class="col-12">
                                <label for="fullname" class="form-label text-black">Full Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="fullname" name="fullname" value="" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="email" class="form-label text-black">Email <span class="text-danger">*</span></label>
                                <div class="input-group">
                                <input type="email" class="form-control" id="email" name="email" value="" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="phone" class="form-label text-black">Phone Number</label>
                                <div class="input-group">
                                <input type="tel" class="form-control" id="phone" name="phone" value="">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="message" class="form-label text-black">Message <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                <button class="btn btn-primary btn-lg" onclick="contact_us()" type="submit">Submit</button>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    style.
        .custom-padding{
            padding: 7rem 0;
        }
        

    <footer class="bg-dark  text-white">
        <div class="container custom-padding">
            <div class="row">
                <div class="col-md-4">
                    <h2>About Us</h2>
                    <p>We Provide Bus at cheat And affortable Price with best possible Feature and Facilities.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Quick Links</h2>
                    <ul class="text-white list-inline ">
                        <li><a class="text-white no-text-decoration" href="#">Home</a></li>
                        <li><a class="text-white no-text-decoration" href="#">Services</a></li>
                        <li><a class="text-white no-text-decoration" href="#">About</a></li>
                        <li><a class="text-white no-text-decoration" href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Contact Us</h2>
                    <p>Email: swiftbus@gmail.com</p>
                    <p>Phone: +1234567890</p>
                    <p>Address: itahari, sunsari, laxmimarga</p>
                </div>
            </div>
        </div>


        <div class="bg-dark py-2">
            <div class="container text-center">
                | &copy; 2024 Swift Bus 
            </div>
        </div>
    </footer>

    script(src="./js/home.js") 
