<!DOCTYPE html>
<html>

<head>
    <title>Socket.IO Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../plugin/leaflet/leaflet.css">
    <link rel="stylesheet" href="../plugin/routing_machine/routine_machine.css">
    
    <script src="../plugin/socket/socket.io.js"></script>
</head>

<body data-bus-slug="#{bus}">

    <div id="map">
        <!-- <div class="navigator-container">
            <div id="navigator">
                <div class="nav-icon">
                    <img src="./../images/navigation.png" alt="Navigation Icon" />
                </div>
                <div class="nav-info">
                    <h2>Duration:</h2>
                    <h4>12:20</h4>
                </div>
            </div>
        </div> -->
    </div>

    <script src="../plugin/leaflet/leaflet.js"></script>
    <script src="../plugin/routing_machine/routine_machine.js"></script>

    <script src="/js/userTracker.js"></script>

</body>

</html>