<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="z-index: 100;">
    <div class="container">
        //- Logo
        <a style="font-weight: 700;" class="navbar-brand me-2" href="/">
            | Swift Bus
        </a>

        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarResponsiveButtons" aria-controls="navbarResponsiveButtons" aria-expanded="false" aria-label="Toggle navigation">
            img(src="./../../images/icons/hamburger.svg", alt="")
        </button>

        //- Right Section Links
        <div class="collapse navbar-collapse" id="navbarResponsiveButtons">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                each nav in [{title: "Contact", link:"/contact"}, {title: "About us", link:"/about"}]
                    <li class="nav-item">
                        a(class="nav-link" href=`${nav.link}`)= nav.title
                    </li>
            </ul>

            //- Left Slide NAvs 
            <div class="d-flex align-items-center">
                if(!user)
                    a(href="/login") 
                        <button data-mdb-ripple-init type="button" class="btn px-3 me-2">
                            | Login
                        </button>

                    a(href="/register") 
                        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                            | Sign up
                        </button>

                else if(user.role === "owner")
                    a(href="/admin/dashboard")
                        button(data-mdb-ripple-init type="button" class="btn me-2" style="text-transform: capitalize;") Dashboard
                    a(href="/admin/worker-account")
                        button(data-mdb-ripple-init type="button" class="btn me-2" style="text-transform: capitalize;") Account
                    a(href="/admin/add-bus")
                        button(data-mdb-ripple-init type="button" class="btn me-2" style="text-transform: capitalize;") Add Bus
                    a(href="/admin/update-bus")
                        button(data-mdb-ripple-init type="button" class="btn me-2" style="text-transform: capitalize;") Update Bus                        
                    a(href="/admin/records")
                        button(data-mdb-ripple-init type="button" class="btn me-2" style="text-transform: capitalize;") Records


                else if(user.role === "conductor" || user.role === "driver")
                    a(href="/checkTickets")
                        button(data-mdb-ripple-init type="button" class="btn me-2" style="text-transform: capitalize;") Check Ticket


                if(user)
                    if(user.role === "user")
                        a(href="/ticket")
                            button(data-mdb-ripple-init type="button" class="btn me-2" style="text-transform: capitalize;") Ticket
                    
                    a(href="/logout") 
                        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                            | Log out
                        </button>           
            </div>
        </div>
    </div>
</nav>